*{
   margin: 0;
   padding: 0;
   }
   body{
   padding-top: 14rem;
   font-family: arial;
   height: 720px;
   }
   #container{
   height: 369px;
   margin: auto;
   background-color: rgb(61, 61, 61);
   }
   #newsletter_container{
      max-width: 900px;
      margin: auto;
      background-color: rgb(61, 61, 61);
      height: 367px;
      display: grid;
      grid-template-columns: 1fr 30%;
      column-gap: 10%;
      color: white;
   }
   #newsletter_container div h1{
      font-size: 48px;
      margin-top: 20px;
   }
   #newsletter_container div p{
      font-size: 12px;
      color: lightgrey;
      margin-bottom: 5px;
   }
   #email{
      height: 100%;
      width: 100%;
      border: 1px solid wheat;
      padding: 3px;
      font-size: 13px;
      background-color: rgb(61, 61, 61);
      color: white;
   }
   #btn{
      width: 20%;
      margin-top: 10px;
      height: 30px;
      color: white;
      background-color: tomato;
      border: none;
      border-radius: 3px;
   }
   #btn:hover{
      background-color: brown;
      color: white;
   }
   #btn:active{
      opacity: 0.5;
   }
   #cell_container{
      margin-top: 10px;
      background-color: rgba(255, 255, 255, 0.28);
      backdrop-filter: brightness(0.5%);
      box-shadow: 0.5px 0.5px 5px 0.5px darkgrey;
   }
   #cell_container div{
      height: 40px;
      align-content: center;
      padding-left: 5px;
   }
   #incell{
      width: 15%;
      margin-left: 3%;
      border-radius: 50%;
      align-content: center;
      justify-items: center;
      border: 1px solid lightgrey;
      margin-bottom: 5px;
      transition: 0.3s;
   }
   #incell:hover{
      background-color: grey;;
   }
   #img{
      height: 50%;
      width: 50%;
      border-radius: 25%;
      margin-left: 24%;
      margin-top: 4px;
   }
   #social_media_design{
      display: flex;
      padding-top: 10px;
   }